$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;
$bg-lightbrown: #826550;
$bg-darkbrown: #6a4d38;
$bg-hoverbrown: #624530;


$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
