.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;

  text-align: center;
}

.page-header__logo img {
  //safety for size
  width: 226px;
  height: 85px;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-color: #000000;
    /*width: 640px;
    margin: 0 auto;*/
  }

  .page-header__logo {
    order: 2;

    width: 100%;
    height: 410px;

    background-color: #000000;
    background-image: url("../img/bg-header@1x.jpg");
    background-position: center -9px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .page-header--inner {
    & .page-header__logo {
      height: 210px;
      background-position: center 0;
      background-size: cover;
    }
  }

  .page-header__logo img {
    width: 380px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    /*width: 940px;*/
  }

  .page-header--inner {
    & .page-header__logo {
      height: 310px;
    }
  }

  .page-header__logo img {
    margin-top: 57px;
  }
}
