.service {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: auto;
  padding: 0;

  list-style: none;
}

.service__item {
  position: relative;
  width: auto;
  margin-bottom: 15px;
  margin-right: 30px;
  padding-left: 36px;
  font-size: 16px;
  text-transform: uppercase;

  &:last-child {
    margin-right: 0;
  }
}

.service__item {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 45px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(-30%, -50%);
  }

  &--cut::before {
    background-image: url(../img/scissors-icon.svg);
  }

  &--shave::before {
    background-image: url(../img/beard-icon.svg);
  }

  &--whiskers::before {
    background-image: url(../img/mustache-icon.svg);
  }
}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {
  .service__item {
    width: auto;
    margin-right: 35px;
    margin-bottom: 21px;
  }
}
